# --------------------
# Local-only folders
# --------------------
documents/
outputs/

data/raw/
data/derived/
data/spatial/

# Allow de-identified data only
!data/deid/
!data/deid/**

# --------------------
# R / RStudio
# --------------------
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron

# --------------------
# R Markdown / knitr
# --------------------
*_cache/
*_files/
*.utf8.md
*.knit.md

# --------------------
# Build / check artefacts
# --------------------
*.tar.gz
*.Rcheck/

# --------------------
# Auth / secrets
# --------------------
.httr-oauth
.env

# --------------------
# OS / editor
# --------------------
.DS_Store
.vscode/
.idea/
